
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$rxjs-purple: (
  50: #fbe4f0,
  100: #f6bcdb,
  200: #f390c3,
  300: #f262aa,
  400: #f13c95,
  500: #f2007f,
  600: #e0007b,
  700: #c90474,
  800: #b3056f,
  900: #8c0565,
  A100: #e0007b,
  A200: #e0007b,
  A400: #e0007b,
  A700: #e0007b,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  )
);
$rxjs-purple: (
  50: #fbe4f0,
  100: #f6bcdb,
  200: #f390c3,
  300: #f262aa,
  400: #f13c95,
  500: #f2007f,
  600: #e0007b,
  700: #c90474,
  800: #b3056f,
  900: #8c0565,
  A100: #febdd6,
  A200: #fe91bb,
  A400: #ff3988,
  A700: #d70069,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  )
);
$rxjs-amber: (
  50: #fff7e1,
  100: #ffeab2,
  200: #ffdd81,
  300: #ffd14d,
  400: #ffc626,
  500: #ffbc04,
  600: #ffae00,
  700: #ff9b03,
  800: #fe8a04,
  900: #fe6a07,
  A100: #ffecb5,
  A200: #ffdf85,
  A400: #ffc933,
  A700: #ffa01a,
  contrast: (
    50: black,
    100: black,
    200: black,
    300: black,
    400: black,
    500: black,
    600: black,
    700: black,
    800: black,
    900: black,
    A100: black,
    A200: black,
    A400: black,
    A700: black,
  )
);
// below creates a primary palette with three shades of blue
$rxjs-primary: mat-palette($rxjs-purple, 100, 50, 200);
$rxjs-accent: mat-palette($rxjs-amber, 100, 50, 200);

$angular-src-primary: mat-palette($rxjs-primary,900);
$angular-src-accent: mat-palette($rxjs-accent, 500, A100, A400);

// The warn palette is optional (defaults to red).
$angular-src-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$angular-src-theme: mat-light-theme($angular-src-primary, $angular-src-accent, $angular-src-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($angular-src-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
