<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="false"
      >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item (click)="drawer.toggle()" routerLink="">Home</a>
      <a mat-list-item (click)="drawer.toggle()" routerLink="/profile">Profile</a>
      <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                  Account
                </mat-panel-title>
              </mat-expansion-panel-header>
              <a mat-list-item (click)="drawer.toggle()" routerLink="account/register">Register&ensp;<mat-icon>person_add</mat-icon></a>
              <a mat-list-item (click)="drawer.toggle()" routerLink="account">Login&ensp;<mat-icon>near_me</mat-icon></a>
            </mat-expansion-panel>
          </mat-accordion>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Rxjs App</span>
      <span class="spacer"></span>
      <div class="navbar" *ngIf="!(isHandset$ | async)">
        <button mat-button (click)="onClick" [routerLinkActive]="['active']" routerLink="/">Home</button>
        <button mat-button (click)="onClick" [routerLinkActive]="['active']" routerLink="/profile">Profile</button>
        <button mat-button (click)="onClick" [routerLinkActive]="['active']" routerLink="/account">Account</button>
      </div>
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
