.header-image{
    background-image: url("https://www.autocar.co.uk/sites/autocar.co.uk/files/styles/gallery_slide/public/images/car-reviews/first-drives/legacy/my20_gt-r.jpg?itok=Gr79js-g");
    background-size: cover;
}