<mat-card>
    <mat-card-header>
        <mat-card-title>NareshKumar</mat-card-title>
        <mat-card-subtitle>Angular Developer</mat-card-subtitle>
        <div mat-card-avatar class="header-image"></div>
    </mat-card-header>
    <img mat-card-image src="https://www.maxim.com/.image/t_share/MTYzNDMwMTQwNTMxOTc1MzM5/nissan-gt-r-50th-anniversary-edition-promo.jpg" alt="">
    <mat-card-content>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos, nam illo ipsam, asperiores incidunt voluptatem tempore enim dolor nihil facere omnis, sit vel. Natus quod nam reprehenderit porro harum numquam, sunt quos ipsum non ratione ex, minus nostrum rerum aspernatur ut magni veritatis tempora laboriosam molestias in labore, rem odit? Aperiam corrupti modi quo iure consequatur quod dolorem, fuga quasi quam repudiandae nemo minus ipsum voluptatibus debitis delectus sit totam, optio rerum cum, ad placeat repellendus ducimus quibusdam. Soluta nam magnam recusandae nulla omnis ut debitis eum magni maxime, laboriosam quaerat cupiditate molestiae amet hic itaque quisquam explicabo exercitationem provident!</p>
        <mat-form-field class="example-full-width">
            <input id="textFeild" matInput placeholder="Enter Your Name" >
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input id="pluckTextFeild" matInput placeholder="Username" >
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
            <input id="firstName" matInput placeholder="First Name" >
        </mat-form-field>&nbsp;&nbsp;
        <mat-form-field class="example-full-width">
            <input id="lastName" matInput placeholder="Last Name" >
        </mat-form-field>
        <p>Combined Value: <span id="combinedText" ></span></p>
        <h4 id="action" ></h4>
    </mat-card-content>
    <mat-card-actions>
        <button id="likeButton" mat-raised-button color="primary">Like</button>
        <button id="shareButton" mat-raised-button color="accent">Share</button>
        <button id="switchButton" mat-raised-button>Switch Map</button>
        <button id="behaviourSubject" color="primary" mat-stroked-button>Subject Map</button>
    </mat-card-actions>
</mat-card>